body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}

h2 {
    margin-bottom: 20px;
}

.profile-container {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(225, 214, 243);
}

#profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

p {
    color: #555;
}

.buttons {
    margin-top: 20px;
}

button.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

button.btn:hover {
    background-color: #0056b3;
}

button.subscribe {
    background-color: #28a745;
}

button.subscribe:hover {
    background-color: #218838;
}
