body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: rgb(165, 164, 164);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #ebe2ee9f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.counter {
    font-size: 48px;
    margin-bottom: 20px;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.decrease {
    background-color: #ec5e4e;
    color: #fff;
}

.reset {
    background-color: #f5a11a;
    color: #fff;
}

.increase {
    background-color: #34cc73;
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
}
